<a href="https://colab.research.google.com/drive/1FR74Gw6ySF4EkL63g-4utwTHCYsf8nab?usp=sharing">
  <img align="center" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [4]:
!gdown --id 1Nw6kxMW6t4EdFC5J5XGoKnUbpbJbwODy

Downloading...
From: https://drive.google.com/uc?id=1Nw6kxMW6t4EdFC5J5XGoKnUbpbJbwODy
To: /content/Social_Network_Ads.csv
100% 10.9k/10.9k [00:00<00:00, 24.3MB/s]

In [5]:
import pandas as pd
df = pd.read_csv("Social_Network_Ads.csv")

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
df.drop("User ID",axis=1,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [12]:
data = pd.get_dummies(df)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Gender_Female    400 non-null    uint8
 3   Gender_Male      400 non-null    uint8
dtypes: int64(2), uint8(2)
memory usage: 7.2 KB

In [13]:
X = data[["Age", "EstimatedSalary", "Gender_Female", "Gender_Male"]]
Y = data["Purchased"]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(X)
scaled_data = pd.DataFrame(scaled_data, columns=X.columns)
scaled_data

          Age  EstimatedSalary  Gender_Female  Gender_Male
0    0.023810         0.029630            0.0          1.0
1    0.404762         0.037037            0.0          1.0
2    0.190476         0.207407            1.0          0.0
3    0.214286         0.311111            1.0          0.0
4    0.023810         0.451852            0.0          1.0
..        ...              ...            ...          ...
395  0.666667         0.192593            1.0          0.0
396  0.785714         0.059259            0.0          1.0
397  0.761905         0.037037            1.0          0.0
398  0.428571         0.133333            0.0          1.0
399  0.738095         0.155556            1.0          0.0

[400 rows x 4 columns]

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(scaled_data,Y, test_size= 0.3,random_state=4)

In [17]:
from sklearn.linear_model import LogisticRegression
logistics = LogisticRegression()
logistics.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
logistics.score(x_test,y_test)

0.8583333333333333